@import "tailwindcss";

@theme {
  --color-theme-midnight: #121826;
  --color-theme-slate: #9da3ae;
  --color-theme-cloud: #e5e7eb;
  --color-theme-obsidian: #212936;
  --color-theme-sky: #dee9fc;
  --color-theme-blush: #fbe5e6;
  --color-theme-sunbeam: #fceed8;
  --color-theme-silver: #d2d5da;

  --font-outfit: "Outfit", "sans-serif";

  --shadow-theme: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
}
