---
import MainLayout from "@/layouts/MainLayout.astro";
import AppCards from "@/components/AppCards.astro";

const data = [
  {
    title: "Collect Feedback at Multiple Touchpoints",
    description: "Provide a comprehensive understanding of the customer experience.",
    image: "/assets/photo_2.png",
  },
  {
    title: "Ask Targeted and Specific Questions",
    description: "Avoid vague or open-ended questions that may not yield actionable insights.",
    image: "/assets/photo_1.png",
  },
  {
    title: "Prioritize and Respond to Feedback",
    description:
      "Communicate the changes or improvements you've made in response to their feedback.",
    image: "/assets/photo_3.png",
  },
];
---

<MainLayout
  title="devChallenges | Simple Feature Section"
  description="A devChallenges.io coding challenge."
>
  <section class="bg-theme-midnight relative h-screen">
    <img
      src="/Background_image.svg"
      alt=""
      aria-hidden="true"
      class="absolute size-full object-cover"
    />
    <h1>Quality feedbacks for your SaaS products</h1>
    <p>The blocks & components you need</p>
    <!-- Cards container -->
    <div>
      <!-- Add cards here -->
    </div>
  </section>
</MainLayout>
