---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="devChallenges | Simple Feature Section"
  description="A devChallenges.io coding challenge."
>
  <section class="bg-theme-midnight relative h-screen">
    <img
      src="/Background_image.svg"
      alt=""
      aria-hidden="true"
      class="absolute size-full object-cover"
    />
    <h1>Quality feedbacks for your SaaS products</h1>
    <p>The blocks & components you need</p>
    <!-- Cards container -->
    <div>
      <!-- Add cards here -->
    </div>
  </section>
</MainLayout>
